# Use this for local development

services:
  frontend:
    platform: linux/amd64
    build:
      context: ./frontend
      dockerfile: Dockerfile
    env_file: ./frontend/.env
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    platform: linux/amd64 # Using Mac image breaks things
    build:
      context: ./backend
    env_file: ./backend/.env
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    volumes:
      - backend_storage:/app/var/storage

  postgres:
    image: postgres:16
    restart: unless-stopped
    environment:
      - POSTGRES_DB=circuit_scope
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  backend_storage:
  postgres_data:
