services:
#   # Caddy Reverse Proxy - Handles HTTPS and domain routing
#   caddy:
#     image: caddy:alpine
#     restart: always
#     ports:
#       - "80:80"
#       - "443:443"
#     volumes:
#       - ./Caddyfile:/etc/caddy/Caddyfile
#       - caddy_data:/data
#       - caddy_config:/config
#     depends_on:
#       - frontend

  frontend:
    platform: linux/amd64
    build:
      context: ./frontend
      dockerfile: Dockerfile
    env_file: ./frontend/.env
    ports:
      - "3000:3000" # Exposed for Caddy (internal network) or direct access if needed
    depends_on:
      - backend

  backend:
    platform: linux/amd64 # Using Mac image breaks things
    build:
      context: ./backend
    env_file: ./backend/.env
    ports:
      - "8000:8000"
    volumes:
      - backend_storage:/app/var/storage

volumes:
  backend_storage:
#  caddy_data:
#  caddy_config: